//color:
$firstColor: #2c3e50;
$secondColor: #2f3b46;
$logColor: #9b59b6;
$regColor: #66cccc;
$greyColor: #9d9d9d;
$indexColor: #ff7d00;



html, body {
    background-color: $firstColor;
}
/*Jakieś artykuły*/
#homeArticle {
    color: #becbd6;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}

nav {
    background-color: $secondColor;
}

/*Panel logowania*/
.loginForm {
    border-top: 5px solid $logColor;
    min-height: 300px;
    background-color: $secondColor;
    margin-top: 100px;
    padding: 0 30px 0 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    #Login, #Password {
        color: white;
    }

    .input-field label {
        color: $greyColor;
    }

    .input-field input[type=text]:focus + label,
    .input-field input[type=password]:focus + label {
        color: $logColor;
        font-size: 15px;
    }

    .input-field input[type=text]:focus,
    .input-field input[type=password]:focus {
        border-bottom: 3px solid $logColor;
        box-shadow: none;
    }


    .loginTopText {
        .logowanieText {
            float: left;
            display: inline-block;
            color: white;
            font-size: 30px;
            margin: 10px 0 20px 0;
            text-align: left;
        }

        .kontoText {
            display: inline-block;
            float: right;
            padding: 15px;

            a {
                color: white;
                font-size: 15px;
                margin: 10px 0 40px 0;
                text-decoration: none;
            }

            a:hover {
                color: $logColor;
            }
        }
    }

    .loginButton {
        .logowanieButton {
            display: inline-block;
            float: left;
            width: auto;


            .btn, .btn-large {
                background-color: $logColor !important;
            }
        }

        .forgetPassword {
            margin-top: 30px;
            display: inline-block;
            float: right;

            a {
                color: white;
                font-size: 15px;
                margin: 10px 0 40px 0;
                text-decoration: none;
            }

            a:hover {
                color: $logColor;
            }
        }
    }

    .uk-form-danger {
        color: red !important;
        background-color: $secondColor !important;

        .logError {
            list-style-type: none;
        }
    }
}
/*Panel rejestracji*/
.registerForm {
    border-top: 5px solid $regColor;
    min-height: 500px;
    background-color: $secondColor;
    margin-top: 100px;
    padding: 0 30px 0 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    #Login, #Password, #Email, #comparePassword {
        color: white;
    }

    .input-field label {
        color: $greyColor;
    }

    .input-field input[type=text]:focus + label,
    .input-field input[type=password]:focus + label,
    .input-field input[type=email]:focus + label {
        color: $regColor;
        font-size: 15px;
    }

    .input[type=email].invalid + label:after {
        width: 100px !important;
    }

    .input-field input[type=text]:focus,
    .input-field input[type=password]:focus,
    .input-field input[type=email]:focus {
        border-bottom: 3px solid $regColor;
        box-shadow: none;
    }



    .regTopText {
        .registerText {
            float: left;
            display: inline-block;
            color: white;
            font-size: 30px;
            margin: 10px 0 40px 0;
            text-align: left;
        }
    }


    .registerButton {
        display: inline-block;
        width: auto;
        position: relative;
        width: 500px;
        margin-left: auto;
        margin-right: auto;

        .btn, .btn-large {
            background-color: $regColor !important;
        }
    }

    .uk-form-danger {
        color: red !important;
        background-color: $secondColor !important;

        .logError {
            list-style-type: none;
        }
    }
}

/*Lista budynków do budowy*/
.buildingList {
    margin: 30px 0 0 30px;
    background-color: $secondColor;
    color: white;
    display: inline-block;
    float: left !important;
    text-align: center;

    .btn {
        background-color: $indexColor;
        max-width: 190px;
        width: 100%;
        font-size: 12px;
        padding: 0;
        border-radius: 0;
    }

    .dropdown-content li {
        background-color: white;
        top: 40px;
        left: 30px;
        border: 1px solid $indexColor;
        height: 30px;
        color: $indexColor;
        text-align: center;
        line-height: 30px;
    }
}

.mapBox {
    margin-top: 30px;
    width: 540px;
    margin-left: 11.5%;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    background-color: #2f3b46;
    display: inline-block;
}

.chatBox {
    margin: 30px 0 0 0;
    padding-top: 0;
    background-color: #2f3b46;
    text-align: center;
    color: white;
    display: inline-block;
    width: 250px;
    min-height: 300px;
    float: right !important;
}

.productList {
    display: block;
    width: 60%;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    background-color: #2f3b46;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    float: none !important;

    .productItem {
        display: inline-block;
        color: white;
        margin-right: 20px;
    }
}


/*TabsAdmin*/
.tabAdmin {
    margin-top: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 48px;
    background-color: $secondColor;
    margin: 30px 0 0 0;
    width: 100%;
    white-space: nowrap;
}

.tabAdmin .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px;

    a {
        color: #fff !important;
        font-size: 10px;
    }

    a:hover {
        color: $indexColor !important;
    }

    .tab a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transition: color .28s ease;
        -moz-transition: color .28s ease;
        -o-transition: color .28s ease;
        -ms-transition: color .28s ease;
        transition: color .28s ease;
    }

    .tab.disabled a {
        color: #f9c9cb;
        cursor: default;
    }

    .indicator {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #f6b2b5;
        will-change: left, right;
    }
}
