@charset "UTF-8";
html, body {
  background-color: #2c3e50; }

.container {
  min-height: 500px; }

/*Jakieś artykuły*/
#homeArticle {
  color: #becbd6;
  font-size: 20px;
  padding: 20px 20px 20px 20px; }

nav {
  background-color: #2f3b46; }
  nav #userLogin {
    margin: -53px 40px 0 0;
    min-width: 80px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    background: #2c3e50;
    color: #9d9d9d;
    border-radius: 0; }
    nav #userLogin .fa {
      font-size: 150%; }
    nav #userLogin .logOut {
      width: auto;
      position: absolute;
      top: 64px;
      left: 1170px !important;
      opacity: 1;
      display: block; }
      nav #userLogin .logOut .dropdown-content .active {
        width: 500px; }

/*Panel logowania*/
.loginForm {
  border-top: 5px solid #9b59b6;
  min-height: 300px;
  background-color: #2f3b46;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .loginForm #Login, .loginForm #Password {
    color: white; }
  .loginForm .input-field label {
    color: #9d9d9d; }
  .loginForm .input-field input[type=text]:focus + label,
  .loginForm .input-field input[type=password]:focus + label {
    color: #9b59b6;
    font-size: 15px; }
  .loginForm .input-field input[type=text]:focus,
  .loginForm .input-field input[type=password]:focus {
    border-bottom: 3px solid #9b59b6;
    box-shadow: none; }
  .loginForm .loginTopText .logowanieText {
    float: left;
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 0;
    text-align: left; }
  .loginForm .loginTopText .kontoText {
    display: inline-block;
    float: right;
    padding: 15px; }
    .loginForm .loginTopText .kontoText a {
      color: white;
      font-size: 15px;
      margin: 10px 0 40px 0;
      text-decoration: none; }
    .loginForm .loginTopText .kontoText a:hover {
      color: #9b59b6; }
  .loginForm .loginButton .logowanieButton {
    display: inline-block;
    float: left;
    width: auto; }
    .loginForm .loginButton .logowanieButton .btn, .loginForm .loginButton .logowanieButton .btn-large {
      background-color: #9b59b6 !important; }
  .loginForm .loginButton .forgetPassword {
    margin-top: 30px;
    display: inline-block;
    float: right; }
    .loginForm .loginButton .forgetPassword a {
      color: white;
      font-size: 15px;
      margin: 10px 0 40px 0;
      text-decoration: none; }
    .loginForm .loginButton .forgetPassword a:hover {
      color: #9b59b6; }
  .loginForm .uk-form-danger {
    color: red !important;
    background-color: #2f3b46 !important; }
    .loginForm .uk-form-danger .logError {
      list-style-type: none; }

/*Panel rejestracji*/
.registerForm {
  border-top: 5px solid #66cccc;
  min-height: 500px;
  background-color: #2f3b46;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .registerForm #Login, .registerForm #Password, .registerForm #Email, .registerForm #comparePassword {
    color: white; }
  .registerForm .input-field label {
    color: #9d9d9d; }
  .registerForm .input-field input[type=text]:focus + label,
  .registerForm .input-field input[type=password]:focus + label,
  .registerForm .input-field input[type=email]:focus + label {
    color: #66cccc;
    font-size: 15px; }
  .registerForm .input[type=email].invalid + label:after {
    width: 100px !important; }
  .registerForm .input-field input[type=text]:focus,
  .registerForm .input-field input[type=password]:focus,
  .registerForm .input-field input[type=email]:focus {
    border-bottom: 3px solid #66cccc;
    box-shadow: none; }
  .registerForm .regTopText .registerText {
    float: left;
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 10px 0 40px 0;
    text-align: left; }
  .registerForm .registerButton {
    display: inline-block;
    width: auto;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .registerForm .registerButton .btn, .registerForm .registerButton .btn-large {
      background-color: #66cccc !important; }
  .registerForm .uk-form-danger {
    color: red !important;
    background-color: #2f3b46 !important; }
    .registerForm .uk-form-danger .logError {
      list-style-type: none; }

/*Lista budynków do budowy*/
.buildingList {
  margin: 30px 0 0 30px;
  background-color: #2f3b46;
  color: white;
  display: inline-block;
  float: left !important;
  text-align: center; }
  .buildingList .btn {
    background-color: #ff7d00;
    max-width: 190px;
    width: 100%;
    font-size: 12px;
    padding: 0;
    border-radius: 0; }
  .buildingList .dropdown-content li {
    background-color: white;
    top: 40px;
    left: 30px;
    border: 1px solid #ff7d00;
    height: 30px;
    color: #ff7d00;
    text-align: center;
    line-height: 30px; }

.mapBox {
  margin-top: 30px;
  width: 540px;
  margin-left: 3%;
  /*padding: 20px 20px 20px 20px;*/
  border: 20px solid #2f3b46;
  background-color: #2f3b46;
  display: inline-block; }

.chatBox {
  margin: 30px 0 0 0;
  padding-top: 0;
  background-color: #2f3b46;
  text-align: center;
  color: white;
  display: inline-block;
  width: 250px;
  min-height: 300px;
  float: right !important; }

.productList {
  display: block;
  width: 60%;
  height: 50px;
  line-height: 50px;
  margin-left: auto !important;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  background-color: #2f3b46;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  float: none !important; }
  .productList .productItem {
    display: inline-block;
    color: white;
    margin-right: 20px; }

/*TabsAdmin*/
.tabs {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 48px;
  background-color: #2f3b46;
  margin: 30px 0 0 0;
  width: 100%;
  white-space: nowrap; }

.tabs .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .8px;
  width: 15%;
  min-width: 80px; }
  .tabs .tab a {
    color: #fff !important;
    font-size: 10px; }
  .tabs .tab a:hover {
    color: #ff7d00 !important; }
  .tabs .tab .tab a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    -ms-transition: color .28s ease;
    transition: color .28s ease; }
  .tabs .tab .tab.disabled a {
    color: #f9c9cb;
    cursor: default; }
  .tabs .tab .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right; }

.market {
  background-color: white;
  margin-top: 30px; }
  .market .numValue {
    float: left;
    max-width: 60px;
    margin-right: 40px; }
  .market #buyButton {
    margin-top: 10px; }
  .market #buyTd {
    width: 300px; }
  .market #Price {
    width: 49%;
    float: right; }
  .market #Number {
    width: 49%;
    float: left; }

.tableList {
  background-color: white;
  padding: 20px 20px 20px 20px; }
  .tableList .table {
    text-align: center !important; }
    .tableList .table .td, .tableList .table .th {
      text-align: center !important; }

/*Przycisk dodający - AdminPanel*/
.addButton {
  float: right; }

/*Biuro*/
.office {
  margin-top: 30px; }
  .office #uBuildingList {
    background-color: #2f3b46;
    min-height: 300px;
    display: inline-block;
    color: #FFB100;
    float: left;
    padding: 20px 20px 20px 20px; }
    .office #uBuildingList #lvlUp {
      margin-top: 7.5px;
      margin-right: 5px;
      background-color: #26A69A;
      color: #000; }
      .office #uBuildingList #lvlUp i {
        line-height: 2rem; }
    .office #uBuildingList .collapsible-header {
      background-color: #FFB100;
      color: #000; }
      .office #uBuildingList .collapsible-header #lvlUp:hover {
        background-color: green; }
  .office #uProductList {
    float: right;
    background-color: #2f3b46;
    color: #EA4067;
    min-height: 300px;
    padding: 20px 20px 20px 20px; }
    .office #uProductList #officeProduct {
      background-color: #EA4067;
      color: #000;
      border: 1px solid #DDDDDD;
      height: 50px;
      line-height: 50px;
      padding-left: 20px; }
      .office #uProductList #officeProduct .name {
        float: left; }
      .office #uProductList #officeProduct .officeOfferAdd {
        margin: 5px 5px 0 0;
        float: right;
        border-radius: 10px !important; }

