@charset "UTF-8";
html, body {
  background-color: #2c3e50; }

.time-left {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  background: rgba(100, 100, 100, 0.4); }

.progress.demo-wrapper.html5-progress-bar {
  opacity: 0; }

/* index page */
.game-description article {
  font-size: 14px !important; }
  .game-description article p:first-child {
    font-size: 16px !important; }

.login-right {
  padding: 50px !important;
  max-width: 450px; }
  .login-right .logowanieButton {
    display: inline-block;
    float: left;
    width: auto;
    margin-top: 5%; }
  .login-right .loginRegister {
    color: #9E9E9E;
    font-size: 15px;
    margin: 20px 0 40px 0;
    text-decoration: none; }
  .login-right .loginButton {
    padding-left: 10px;
    padding-right: 15px; }
  .login-right input {
    height: 30px; }
  .login-right .loginForm {
    border-top: 5px solid #73467B !important;
    min-height: 460px !important;
    background-color: #18212A !important;
    padding: 20px 30px 0 30px !important;
    width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -10px; }
    .login-right .loginForm .input-field {
      padding-top: 5px !important; }

.preloader-wrapper .spinner-layer {
  background: none; }

.container, .row {
  min-height: 500px; }

/*Jakieś artykuły*/
#homeArticle {
  color: #becbd6;
  font-size: 20px;
  padding: 20px 20px 20px 20px; }

nav {
  background-color: #18212A; }
  nav .button-collapse {
    font-size: 22px; }
    nav .button-collapse i {
      font-size: 22px;
      margin-right: 5px; }
  nav .side-nav {
    background-color: #18212A; }
    nav .side-nav a {
      color: #fff !important; }
  @media screen and (max-width: 992px) {
    nav .userDolar {
      display: none; }
    nav .dolarMenu {
      color: #fff;
      text-align: center;
      cursor: default; } }
  @media screen and (min-width: 993px) {
    nav .userDolar {
      color: #9E9E9E;
      float: left;
      margin-left: 20px;
      margin-top: 10px;
      padding: 5px 10px 5px 10px;
      display: inline-block;
      background-color: #214954;
      text-align: center;
      min-width: 80px;
      width: auto;
      height: 45px;
      line-height: 35px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    nav .userDolar:hover {
      color: #51B3CE;
      cursor: default; } }
  @media screen and (max-width: 992px) {
    nav .userLogout {
      display: none; } }
  @media screen and (min-width: 993px) {
    nav .userLogout {
      margin: -53px 40px 0 0;
      min-width: 80px;
      text-align: center;
      height: 45px;
      line-height: 45px;
      font-size: 15px;
      background: #214954;
      color: #9E9E9E;
      border-radius: 0; }
      nav .userLogout .fa {
        font-size: 150%;
        color: #9E9E9E; }
    nav .userLogout:hover {
      color: #51B3CE;
      background-color: #214954 !important; }
      nav .userLogout:hover .fa {
        color: #51B3CE; } }

/*Panel logowania*/
.loginForm {
  border-top: 5px solid #73467B;
  min-height: 350px;
  background-color: #18212A;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .loginForm #Login, .loginForm #Password {
    color: #9E9E9E; }
  .loginForm .input-field label {
    color: #9E9E9E; }
  .loginForm .input-field input[type=text]:focus + label,
  .loginForm .input-field input[type=password]:focus + label {
    color: #73467B;
    font-size: 15px; }
  .loginForm .input-field input[type=text]:focus,
  .loginForm .input-field input[type=password]:focus {
    border-bottom: 3px solid #73467B;
    box-shadow: none; }
  .loginForm .loginTopText .logowanieText {
    float: left;
    display: inline-block;
    color: #9E9E9E;
    font-size: 30px;
    margin: 10px 0 20px 0;
    text-align: left; }
  .loginForm .loginButton .logowanieButton {
    display: inline-block;
    float: left;
    width: auto;
    margin-top: 5%; }
    .loginForm .loginButton .logowanieButton .btn, .loginForm .loginButton .logowanieButton .btn-large {
      background-color: #73467B !important; }
  .loginForm .loginButton .loginRegister {
    margin: 5.5% 0 0 20px;
    display: inline-block;
    float: left; }
    .loginForm .loginButton .loginRegister a {
      color: #9E9E9E;
      font-size: 15px;
      margin: 10px 0 40px 0;
      text-decoration: none; }
    .loginForm .loginButton .loginRegister a:hover {
      color: #73467B; }
  .loginForm .uk-form-danger {
    color: red !important;
    background-color: #18212A !important; }
    .loginForm .uk-form-danger .logError {
      list-style-type: none; }

/*Panel rejestracji*/
.registerForm {
  border-top: 5px solid #527575;
  min-height: 500px;
  background-color: #18212A;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .registerForm #Login, .registerForm #Password, .registerForm #Email, .registerForm #comparePassword {
    color: #9E9E9E; }
  .registerForm .input-field label {
    color: #9E9E9E; }
  .registerForm .input-field input[type=text]:focus + label,
  .registerForm .input-field input[type=password]:focus + label,
  .registerForm .input-field input[type=email]:focus + label {
    color: #527575;
    font-size: 15px; }
  .registerForm input[type=email].invalid + label:after,
  .registerForm input[type=email]:focus.invalid + label:after {
    width: 200px !important; }
  .registerForm .input-field input[type=text]:focus,
  .registerForm .input-field input[type=password]:focus,
  .registerForm .input-field input[type=email]:focus {
    border-bottom: 3px solid #527575;
    box-shadow: none; }
  .registerForm .regTopText .registerText {
    float: left;
    display: inline-block;
    color: #9E9E9E;
    font-size: 30px;
    margin: 10px 0 40px 0;
    text-align: left; }
  .registerForm .registerButton {
    display: inline-block;
    width: auto;
    position: relative;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .registerForm .registerButton .btn, .registerForm .registerButton .btn-large {
      margin-top: 3%;
      background-color: #527575 !important; }
  .registerForm .uk-form-danger {
    color: red !important;
    background-color: #18212A !important; }
    .registerForm .uk-form-danger .logError {
      list-style-type: none; }

/*Recovery View*/
.recoveryForm {
  border-top: 5px solid #395D1C;
  min-height: 500px;
  background-color: #18212A;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .recoveryForm #Login, .recoveryForm #Password, .recoveryForm #Email, .recoveryForm #comparePassword, .recoveryForm #RecoveryCode {
    color: white; }
  .recoveryForm .input-field label {
    color: #9E9E9E; }
  .recoveryForm .input-field input[type=text]:focus + label,
  .recoveryForm .input-field input[type=password]:focus + label,
  .recoveryForm .input-field input[type=email]:focus + label {
    color: #527575;
    font-size: 15px; }
  .recoveryForm .input[type=email].invalid + label:after {
    width: 100px !important; }
  .recoveryForm .input-field input[type=text]:focus,
  .recoveryForm .input-field input[type=password]:focus,
  .recoveryForm .input-field input[type=email]:focus {
    border-bottom: 3px solid #395D1C;
    box-shadow: none; }
  .recoveryForm .btn {
    background-color: #395D1C !important; }
  .recoveryForm .regTopText .registerText {
    float: left;
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 10px 0 40px 0;
    text-align: left; }
  .recoveryForm .registerButton {
    display: inline-block;
    width: auto;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .recoveryForm .registerButton .btn, .recoveryForm .registerButton .btn-large {
      background-color: #395D1C !important; }
  .recoveryForm .input-field label {
    width: 100%; }
  .recoveryForm .uk-form-danger {
    color: red !important;
    background-color: #18212A !important; }
    .recoveryForm .uk-form-danger .logError {
      list-style-type: none; }

/*Lista budynków do budowy*/
@media screen and (max-width: 750px) {
  .buildingList {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -421px !important; } }

@media screen and (min-width: 751px) and (max-width: 860px) {
  .buildingList {
    margin: 0 0 0 -35px !important; } }

@media screen and (min-width: 861px) and (max-width: 1000px) {
  .buildingList {
    margin: 0 0 0 0 !important; } }

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .buildingList {
    margin: 0 0 0 -40px !important; } }

.buildingList {
  margin: 0 0 0 0;
  height: 400px;
  background-color: #18212A;
  color: white;
  display: inline-block;
  float: left !important;
  text-align: center; }
  .buildingList i {
    font-size: 12px; }
  .buildingList .tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 48px;
    background-color: #18212A;
    margin: 0;
    width: 100%;
    white-space: nowrap; }
  .buildingList .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px; }
    .buildingList .tabs .tab a {
      color: #fff !important;
      font-size: 10px; }
    .buildingList .tabs .tab a:hover {
      color: #51B3CE !important;
      font-weight: bold; }
    .buildingList .tabs .tab .tab a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
    .buildingList .tabs .tab .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
    .buildingList .tabs .tab .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: #f6b2b5;
      will-change: left, right; }
  .buildingList .btn {
    background-color: #214954;
    width: 88%;
    margin: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding: 0 5px 0 5px;
    border-radius: 0;
    text-transform: none; }
  .buildingList .btn:hover {
    color: #51B3CE;
    font-weight: bold; }
  .buildingList .disabled {
    background-color: #687579; }
  .buildingList .buildingName {
    float: left; }
  .buildingList .slimScrollBar {
    background: #214954 !important; }
  .buildingList .buildingPrice {
    float: right; }
  .buildingList .tabs .tab a:hover {
    color: #51B3CE !important;
    font-weight: bold;
    border: none; }
  .buildingList .tabs .indicator {
    background-color: #214954; }

@media screen and (max-width: 750px) {
  .mapBox {
    margin-top: 450px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: none !important;
    background: none !important; } }

@media screen and (max-width: 861px) {
  .mapBox {
    margin-top: 30px;
    margin-right: -35px; } }

@media screen and (max-width: 1000px) {
  .mapBox {
    margin-top: 30px;
    width: 540px;
    margin-left: auto;
    /*padding: 20px 20px 20px 20px;*/
    border: 20px solid #18212A;
    background-color: #2f3b46;
    display: block; } }

@media screen and (min-width: 1000px) {
  .mapBox {
    margin-top: 30px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px 20px 20px 20px;*/
    border: 20px solid #18212A;
    background-color: #2f3b46;
    display: block; } }

/*InfoBox*/
@media screen and (max-width: 750px) {
  .infoBox {
    width: 50% !important;
    float: right !important;
    margin-top: -935px !important; } }

@media screen and (min-width: 751px) and (max-width: 860px) {
  .infoBox {
    margin: -155px 0 0 -35px !important; } }

@media screen and (min-width: 861px) and (max-width: 1000px) {
  .infoBox {
    float: left !important;
    margin: -155px 0 0 0 !important; } }

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .infoBox {
    margin: -555px -40px 0 0 !important;
    float: right !important; } }

@media screen and (min-width: 1000px) {
  .infoBox {
    float: right !important; } }

.infoBox {
  margin: -555px 0 0 0;
  padding-top: 0;
  background-color: #18212A;
  text-align: center;
  color: white;
  display: block;
  height: 400px;
  font-size: 12px;
  width: 100%; }
  .infoBox .slimScrollBar {
    background: #214954 !important;
    width: 10px !important; }
  .infoBox .tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 48px;
    background-color: #18212A;
    margin: 0;
    width: 100%;
    white-space: nowrap; }
  .infoBox .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px; }
    .infoBox .tabs .tab a {
      color: #fff !important;
      font-size: 10px; }
    .infoBox .tabs .tab a:hover {
      color: #51B3CE !important;
      font-weight: bold; }
    .infoBox .tabs .tab .tab a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
    .infoBox .tabs .tab .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
    .infoBox .tabs .tab .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: #f6b2b5;
      will-change: left, right; }

/*Powiadomienia*/
#Notification #notificationList {
  margin-top: 4px; }
  #Notification #notificationList .newNotification {
    background-color: #214954;
    border-radius: 0;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    width: 88%;
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
    cursor: default;
    font-size: 85%; }
    #Notification #notificationList .newNotification .notificationLink:hover {
      color: #51B3CE;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer; }
    #Notification #notificationList .newNotification i {
      line-height: 40px;
      font-size: 12px; }
    #Notification #notificationList .newNotification i:hover {
      color: #51B3CE; }

/******************/
/*List znajomych*/
.infoBox .friendMessage {
  color: black !important;
  width: 30% !important; }

.infoBox .friend {
  background-color: #214954;
  margin-top: 10px;
  width: 88%;
  cursor: default;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto; }
  .infoBox .friend .slimScrollBar {
    background: #214954 !important;
    right: -5px !important; }
  .infoBox .friend .login {
    float: left;
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer; }
  .infoBox .friend .login:hover {
    color: #51B3CE;
    font-weight: bold; }
  .infoBox .friend .icon {
    float: right;
    margin-right: 30px;
    color: #fff;
    vertical-align: middle;
    font-size: 20px; }
  .infoBox .friend .agree:hover {
    color: green; }
  .infoBox .friend .disagree:hover {
    color: red; }

.infoBox .disabled {
  background-color: #687579; }

.infoBox .tabs .tab a:hover {
  font-weight: bold;
  border: none; }

.infoBox .tabs .indicator {
  background-color: #214954; }

/*****************/
@media screen and (max-width: 650px) {
  #products {
    font-size: 50% !important; } }

.product {
  display: inline-block;
  margin: 0 1% 1% 0; }

#products {
  cursor: default;
  font-size: 70%; }

.productList {
  display: block;
  width: 60%;
  height: 50px;
  margin-left: auto !important;
  margin-right: auto;
  padding: 10px 20px 20px 20px;
  background-color: #18212A;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  float: none !important; }
  .productList .productItem {
    display: block;
    color: white;
    margin-right: 10px; }

/*TabsAdmin*/
.adminDiv {
  overflow-x: no-display; }
  .adminDiv .tabs {
    margin-top: 30px;
    display: block;
    position: relative;
    height: 180px !important;
    background-color: #18212A;
    margin: 30px 0 0 0;
    width: 100%;
    white-space: nowrap; }
  .adminDiv .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px; }
    .adminDiv .tabs .tab a {
      color: #fff !important;
      font-size: 10px; }
    .adminDiv .tabs .tab a:hover {
      font-weight: bold; }
    .adminDiv .tabs .tab .tab a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
    .adminDiv .tabs .tab .active {
      border-bottom: 3px solid #26A69A !important; }
    .adminDiv .tabs .tab .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
  .adminDiv .indicator {
    display: none !important; }

.market {
  background-color: #18212A;
  margin-top: 30px;
  padding-bottom: 80px;
  min-height: 500px; }
  .market .paginationBtn {
    float: right;
    margin-right: 10px; }
    .market .paginationBtn a {
      color: #fff; }
    .market .paginationBtn .pagination > .active > a,
    .market .paginationBtn .pagination > .active > span,
    .market .paginationBtn .pagination > .active > a:hover,
    .market .paginationBtn .pagination > .active > span:hover,
    .market .paginationBtn .pagination > .active > a:focus,
    .market .paginationBtn .pagination > .active > span:focus {
      background: #563232;
      border: 1px solid #563232;
      color: #fff; }
  .market .noOffer {
    display: block;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px; }
  .market .tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 48px;
    background-color: #18212A;
    margin: 0;
    width: 100%;
    white-space: nowrap; }
  .market .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px; }
    .market .tabs .tab a {
      color: #fff !important;
      font-size: 10px; }
    .market .tabs .tab a:hover {
      color: #563232 !important;
      font-weight: bold; }
    .market .tabs .tab .tab a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
    .market .tabs .tab .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
  .market .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #563232;
    will-change: left, right; }
  .market h5 {
    margin: 20px;
    display: inline-block;
    color: #fff; }
  .market td, .market th {
    border-radius: 0; }
  .market table {
    background-color: #fff; }
  .market thead tr {
    width: 100%;
    background-color: #563232;
    color: #fff; }
  .market tbody tr {
    height: 40px !important; }
  .market tbody tr:hover {
    background-color: rgba(86, 50, 50, 0.5) !important; }
  .market .numValue {
    float: left;
    max-width: 60px;
    margin-right: 40px; }
  .market #buyButton {
    margin-top: 10px;
    background-color: #563232; }
  .market #buyTd {
    width: 300px; }
  .market #Price {
    width: 49%;
    float: right; }
  .market #Number {
    width: 49%;
    float: left; }
  .market .systemOffer {
    height: 500px;
    width: 500px;
    padding: 10px; }
    .market .systemOffer .systemOfferItem .productName {
      display: inline-block;
      margin-right: 10px; }
    .market .systemOffer .systemOfferItem .productPrice {
      display: inline-block;
      margin-right: 10px; }
    .market .systemOffer .numberValue {
      width: 100px !important;
      text-align: center;
      margin-right: 10px;
      float: right; }
    .market .systemOffer .sellProduct {
      float: right;
      display: block;
      background-color: #563232; }
  .market .btn {
    background-color: #563232; }
  .market .systemOfferBtn {
    margin: 20px !important;
    background-color: #563232; }
  .market .offerAdd {
    margin-left: 20px;
    display: inline-block;
    background-color: #563232; }
  .market .offerSellAdd {
    margin: 10px 0 10px 10px; }
  .market .offerBuyAdd {
    margin: 10px 0 10px 10px; }
  .market .addButton {
    background-color: #563232 !important; }

.tableList {
  background-color: white;
  padding: 20px 20px 20px 20px; }
  .tableList h4 {
    display: inline; }
  .tableList .searchAdmin {
    width: 50%;
    margin-left: 20px; }
  .tableList .table {
    text-align: center !important; }
    .tableList .table .td, .tableList .table .th {
      text-align: center !important; }

/*Przycisk dodający - AdminPanel*/
.addButton {
  float: right;
  margin-bottom: 10px; }

/*Biuro*/
.office {
  margin-top: 30px; }
  @media screen and (max-width: 950px) {
    .office .uBuildingList {
      width: 100% !important;
      margin-bottom: 20px; } }
  .office .uBuildingList {
    background-color: #18212A;
    min-height: 420px;
    display: inline-block;
    float: left;
    padding: 20px 20px 20px 20px;
    border: none;
    width: 49%; }
    .office .uBuildingList .progress {
      height: 10px;
      margin-bottom: 5px;
      background-color: #343256; }
    .office .uBuildingList .indeterminate {
      background-color: #8581ce; }
    .office .uBuildingList .slimScrollBar {
      background: #8581ce !important; }
    .office .uBuildingList h5 {
      color: #fff; }
    .office .uBuildingList #lvlUp {
      margin-top: 4px;
      margin-right: 5px;
      background-color: #8581ce;
      color: #000; }
      .office .uBuildingList #lvlUp i {
        line-height: 2rem; }
    .office .uBuildingList li {
      width: 95%;
      margin-right: auto;
      margin-left: auto; }
    .office .uBuildingList .collapsible {
      border: none; }
    .office .uBuildingList .collapsible-header {
      background-color: #343256;
      color: #fff;
      margin-bottom: 5px;
      border: none; }
      .office .uBuildingList .collapsible-header #lvlUp:hover {
        background-color: green;
        border-radius: 0; }
    .office .uBuildingList .collapsible-body {
      background-color: rgba(52, 50, 86, 0.5);
      color: #fff;
      margin-top: -5px;
      margin-bottom: 5px;
      border: none;
      height: 100%; }
      .office .uBuildingList .collapsible-body .btn {
        color: #000;
        font-weight: bold; }
  @media screen and (max-width: 950px) {
    .office .uProductList {
      width: 100% !important; } }
  .office .uProductList {
    float: right;
    background-color: #18212A;
    min-height: 400px;
    padding: 20px 20px 20px 20px;
    width: 49%; }
    .office .uProductList .slimScrollBar {
      background: #8581ce !important; }
    .office .uProductList h5 {
      color: #fff; }
    .office .uProductList .userProduct {
      padding-top: 8px; }
    .office .uProductList .officeProduct {
      background-color: #343256;
      color: #fff;
      height: 45px;
      line-height: 45px;
      padding-left: 20px;
      margin-bottom: 5px;
      width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .office .uProductList .officeProduct .name {
        float: left; }
      .office .uProductList .officeProduct .officeOfferAdd {
        margin: 3.5px 5px 0 0;
        float: right;
        background-color: #8581ce;
        color: #000; }
        .office .uProductList .officeProduct .officeOfferAdd .input[type=text].valid {
          color: #fff !important; }
    .office .uProductList .addButton {
      background-color: #343256 !important; }
  @media screen and (max-width: 950px) {
    .office .uDealList {
      width: 100% !important; } }
  .office .uDealList {
    background-color: #18212A;
    margin-top: 30px;
    min-height: 400px;
    display: inline-block;
    float: right;
    padding: 20px 20px 20px 20px;
    width: 49%; }
    .office .uDealList .slimScrollBar {
      background: #8581ce !important; }
    .office .uDealList #dealInner {
      height: 350px; }
    .office .uDealList #dealBox {
      height: 100%;
      margin-top: -20px; }
    .office .uDealList h5 {
      color: #fff;
      display: inline-block; }
    .office .uDealList .collapsible {
      border: none; }
    .office .uDealList li {
      width: 95%;
      margin-left: auto;
      margin-right: auto; }
    .office .uDealList .collapsible-header {
      background-color: #343256;
      color: #fff;
      margin-bottom: 5px;
      border: none; }
    .office .uDealList .collapsible-body {
      background-color: rgba(52, 50, 86, 0.5);
      color: #fff;
      margin-top: -5px;
      margin-bottom: 5px;
      border: none; }
    .office .uDealList .disabled {
      background-color: #8581ce; }
    .office .uDealList .myoffer {
      background-color: #9E9E9E; }
    .office .uDealList .rerunDeal {
      margin-top: 3px;
      float: right; }
    .office .uDealList .officeDealAdd {
      display: inline-block;
      margin: -65px 0 0px 100px;
      background-color: #343256; }
    .office .uDealList .officeDealShow {
      float: right;
      margin: 4px 20px 0 0;
      width: 200px;
      background-color: #343256; }
    .office .uDealList .myoffer {
      float: right;
      margin: 4px 20px 0 0;
      width: 200px; }
    .office .uDealList .addButton {
      background-color: #343256 !important; }
  @media screen and (max-width: 950px) {
    .office .uProductRequirementList {
      width: 100% !important; } }
  .office .uProductRequirementList {
    background-color: #18212A;
    margin-top: 30px;
    min-height: 400px;
    display: inline-block;
    float: left;
    padding: 20px 20px 20px 20px;
    width: 49%; }
    .office .uProductRequirementList .costProduct {
      float: right;
      display: flex;
      color: #fff;
      background-color: #343256;
      text-align: left;
      width: 65%;
      z-index: 1000;
      position: absolute;
      margin-top: 45px; }
      .office .uProductRequirementList .costProduct .costName {
        margin-right: 5px; }
    .office .uProductRequirementList .slimScrollBar {
      background: #343256 !important; }
    .office .uProductRequirementList h5 {
      color: #fff;
      display: inline-block; }
    .office .uProductRequirementList .requirementBox {
      margin-top: -6px; }
    .office .uProductRequirementList .productRequirementItem {
      background-color: #343256;
      height: 45px;
      margin-bottom: 5px;
      width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .office .uProductRequirementList .productRequirementItem .productName {
        float: left;
        display: inline-block;
        line-height: 46px;
        margin-left: 15px;
        color: #fff; }
      .office .uProductRequirementList .productRequirementItem .conditions {
        float: right;
        display: inline-block;
        margin-left: 5px;
        position: absolute; }
      .office .uProductRequirementList .productRequirementItem .inputValue {
        display: inline-block;
        float: right;
        background-color: #8581ce;
        height: 44px;
        width: 65%;
        line-height: 44px;
        position: absolute;
        right: 0; }
        .office .uProductRequirementList .productRequirementItem .inputValue #productValue {
          width: 45%;
          display: inline-block;
          height: 40px;
          border-bottom: 5px solid #343256;
          text-align: center; }
        .office .uProductRequirementList .productRequirementItem .inputValue input[type=number]:focus:not([readonly]) {
          box-shadow: none; }
        .office .uProductRequirementList .productRequirementItem .inputValue .createButton {
          background-color: #343256;
          width: 50%;
          font-size: 70%;
          padding: 0; }
    .office .uProductRequirementList .disabled {
      background-color: #a8a8a8; }

/*Profil*/
.profil {
  background-color: #18212A;
  margin-top: 40px;
  padding: 5px 20px 20px 20px;
  min-height: 650px; }
  .profil .upBtnProfil {
    float: right;
    margin-top: 30px;
    background-color: #4dd0e1;
    margin-right: 10px; }
  .profil h4 {
    color: #fff;
    display: inline-block; }
  .profil h2 {
    color: #4dd0e1;
    text-transform: capitalize;
    display: inline-block; }
  .profil i {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    margin-left: 15px; }
  .profil .fa-envelope:before {
    color: #4dd0e1; }
  .profil #left {
    float: left;
    display: inline-block; }
    .profil #left .info {
      color: #fff;
      display: block; }
      .profil #left .info .num {
        color: #4dd0e1;
        font-weight: bold;
        font-size: 18px; }
    .profil #left .btn-large {
      display: inline-block;
      margin: 0 0 20px 0 !important; }
  .profil #right {
    float: right;
    display: inline-block;
    width: 50%;
    margin: 0 20px 0 0; }
    .profil #right h3 {
      margin-bottom: 50px;
      color: #4dd0e1;
      font-size: 20px; }
    .profil #right .btn {
      background-color: #4dd0e1; }
    .profil #right .fa {
      color: #000; }
    .profil #right .collapsible-body {
      padding: 15px !important; }
      .profil #right .collapsible-body .btn {
        margin-top: 10px;
        margin-bottom: 15px; }
      .profil #right .collapsible-body .ignoredDiv {
        background-color: #a8a8a8;
        color: #000;
        border: 1px solid #DDDDDD;
        height: 46px;
        line-height: 46px;
        padding-left: 20px; }
    .profil #right .character-counter {
      color: #fff; }
    .profil #right input[type=text], .profil #right textarea.materialize-textarea, .profil #right input[type=password], .profil #right input[type=email].valid, .profil #right input[type=email] {
      color: #fff !important; }

/*Ranking*/
.Ranking {
  background-color: #18212A;
  margin-top: 30px;
  min-height: 500px; }
  .Ranking .searchInput {
    width: 30% !important;
    display: inline-block !important;
    margin: 15px 0 0 15px !important;
    color: #fff; }
  .Ranking .searchButton {
    display: inline-block;
    background-color: #2e8367;
    color: #fff; }
  .Ranking .paginationBtn {
    float: right;
    margin-right: 10px; }
    .Ranking .paginationBtn a {
      color: #2e8367; }
    .Ranking .paginationBtn .pagination > .active > a,
    .Ranking .paginationBtn .pagination > .active > span,
    .Ranking .paginationBtn .pagination > .active > a:hover,
    .Ranking .paginationBtn .pagination > .active > span:hover,
    .Ranking .paginationBtn .pagination > .active > a:focus,
    .Ranking .paginationBtn .pagination > .active > span:focus {
      background: #2e8367;
      border: 1px solid #2e8367;
      color: #fff; }
  .Ranking td, .Ranking th {
    border-radius: 0; }
  .Ranking thead {
    background: #2e8367;
    font-weight: bold;
    cursor: default; }
  .Ranking tbody .yourLogin {
    background-color: rgba(166, 210, 195, 0.77);
    font-weight: bold; }
  .Ranking tbody tr {
    background: #fff; }
  .Ranking tbody tr:hover {
    background-color: #A6D2C3;
    cursor: pointer; }

/*Wiadomości*/
.Message {
  background-color: #18212A; }
  .Message .tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 48px;
    background-color: #18212A;
    margin: 0;
    width: 100%;
    white-space: nowrap; }
  .Message .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px; }
    .Message .tabs .tab a {
      color: #fff !important;
      font-size: 10px; }
    .Message .tabs .tab a:hover {
      color: #fff !important;
      font-weight: bold; }
    .Message .tabs .tab .tab a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: color .28s ease;
      -moz-transition: color .28s ease;
      -o-transition: color .28s ease;
      -ms-transition: color .28s ease;
      transition: color .28s ease; }
    .Message .tabs .tab .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
  .Message .paginationBtn {
    float: right;
    margin-right: 10px;
    display: block; }
    .Message .paginationBtn a {
      color: rgba(97, 116, 135, 0.62); }
    .Message .paginationBtn .pagination > .active > a,
    .Message .paginationBtn .pagination > .active > span,
    .Message .paginationBtn .pagination > .active > a:hover,
    .Message .paginationBtn .pagination > .active > span:hover,
    .Message .paginationBtn .pagination > .active > a:focus,
    .Message .paginationBtn .pagination > .active > span:focus {
      background: rgba(97, 116, 135, 0.62);
      border: 1px solid rgba(97, 116, 135, 0.62);
      color: #fff; }
  .Message table {
    background-color: #fff; }
  .Message td, .Message th {
    border-radius: 0; }
  .Message .indicator {
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: #617487;
    will-change: left, right; }
  .Message .noRow {
    cursor: default;
    font-size: 20px;
    color: #9E9E9E;
    font-style: italic;
    margin-left: 20px; }

.newMessage {
  height: 450px;
  padding: 10px 30px 30px 30px;
  background-color: #fff; }
  .newMessage .sendMessageBtn {
    float: right;
    margin-bottom: 30px;
    background-color: #617487; }
  .newMessage .login {
    width: 30%; }

.receivedMessage {
  min-height: 660px; }
  .receivedMessage thead {
    background-color: rgba(97, 116, 135, 0.62);
    border: none;
    cursor: default; }
  .receivedMessage tbody tr:hover {
    background-color: rgba(97, 116, 135, 0.32);
    cursor: pointer; }
  .receivedMessage .indeterminate {
    background-color: #8581ce !important; }

#newMessage {
  border-left: 3px solid #c40000;
  font-weight: bold; }

.sentMessage {
  min-height: 660px; }
  .sentMessage thead {
    background-color: rgba(97, 116, 135, 0.62);
    border: none;
    cursor: default; }
  .sentMessage tbody tr:hover {
    background-color: rgba(97, 116, 135, 0.32);
    cursor: pointer; }

.contentMessage {
  margin-top: 30px;
  padding: 10px 30px 30px 30px;
  background-color: #fff;
  min-height: 300px; }
  .contentMessage .theme {
    display: block;
    font-weight: bold;
    font-size: 20px; }
  .contentMessage .sender {
    display: block;
    font-size: 17px;
    margin-top: 10px;
    color: rgba(168, 168, 168, 0.61); }
    .contentMessage .sender .date {
      color: #000;
      font-size: 15px;
      font-style: italic; }
    .contentMessage .sender .login {
      margin: 0px 5px 0px 5px;
      font-style: italic;
      color: #000;
      cursor: default; }
    .contentMessage .sender .login:hover {
      color: #617487; }
  .contentMessage .content {
    font-size: 18px;
    word-wrap: break-word;
    width: 100%; }
    .contentMessage .content .contentTitle {
      display: block;
      font-size: 17px;
      margin-top: 10px;
      color: rgba(168, 168, 168, 0.61); }
  .contentMessage .contentButton {
    margin-top: 20px;
    float: right; }
    .contentMessage .contentButton .btn {
      background-color: #617487 !important; }
    .contentMessage .contentButton i {
      margin-right: 5px; }

/*Validation*/
.validation {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  min-height: 90px;
  background-color: #2c3e50;
  border-bottom: red 3px solid;
  color: #fff;
  text-align: center;
  font-size: 15px;
  z-index: 10;
  position: fixed;
  width: 300px;
  left: 0;
  right: 0;
  animation-name: top-margin;
  animation-duration: 2s;
  -webkit-animation-name: top-margin;
  -webkit-animation-duration: 2s; }
  .validation i {
    padding: 5px;
    display: inline-block;
    color: red;
    float: right;
    cursor: pointer; }

@keyframes top-margin {
  0% {
    margin-top: -150px; }
  100% {
    margin-top: 70px;
    animation-fill-mode: forwards;
    animation-play-state: paused; } }

@-webkit-keyframes top-margin {
  0% {
    margin-top: -150px; }
  100% {
    margin-top: 70px;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: paused; } }

/*Footer*/
footer {
  width: 100% !important;
  margin-top: 20px;
  position: absolute; }
  footer p {
    margin-top: 20px;
    color: #6692BF; }

.support {
  margin-top: 30px;
  background-color: #18212A; }
  .support .game-description article p:first-child {
    font-size: 20px !important; }
  .support h4 {
    color: #becbd6;
    font-size: 30px;
    padding: 20px 20px 20px 20px; }
  .support .btn {
    background-color: #becbd6; }
  .support .validate {
    color: #fff; }

/* kasyno */
.bx-viewport {
  background-color: midnightblue !important;
  height: 300px !important; }
  .bx-viewport i {
    font-size: 250px;
    width: 100%;
    text-align: center; }

.slots {
  background: #18212A;
  padding: 20px;
  margin-top: 30px; }

#result {
  color: #D9F2F3;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 20px; }

input#bet {
  width: 300px;
  margin-top: 50px;
  color: white;
  margin-left: 20px;
  margin-right: 25px; }

/*.nav-wrapper {
    max-width: 600px !important;
}*/

