@{
    ViewBag.Title = "Kasyno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="slots row clearfix">
    <div class="col s4 ">
        <ul id="slider1" class="bxslider">
            <li id="s10"><i class="fa fa-car" style="color:cadetblue;"></i></li>
            <li id="s11"><i class="fa fa-diamond" style="color:forestgreen;"></i></li>
            <li id="s12"><i class="fa fa-gift" style="color:blueviolet"></i></li>
            <li id="s13"><i class="fa fa-building"  style="color:darkcyan"></i></li>
            <li id="s14"><i class="fa fa-star"  style="color:darkorange"></i></li>
        </ul>
    </div>
    <div class="col s4 ">
        <ul id="slider2" class="bxslider">
            <li id="s20"><i class="fa fa-car" style="color: cadetblue;"></i></li>
            <li id="s21"><i class="fa fa-diamond" style="color:forestgreen;"></i></li>
            <li id="s22"><i class="fa fa-gift" style="color:blueviolet"></i></li>
            <li id="s23"><i class="fa fa-building" style="color:darkcyan"></i></li>
            <li id="s24"><i class="fa fa-star" style="color:darkorange"></i></li>
        </ul>
    </div>
    <div class="col s4 ">
        <ul id="slider3" class="bxslider">
            <li id="s30"><i class="fa fa-car" style="color: cadetblue;"></i></li>
            <li id="s31"><i class="fa fa-diamond" style="color:forestgreen;"></i></li>
            <li id="s32"><i class="fa fa-gift" style="color:blueviolet"></i></li>
            <li id="s33"><i class="fa fa-building" style="color:darkcyan"></i></li>
            <li id="s34"><i class="fa fa-star" style="color:darkorange"></i></li>
        </ul>
    </div>
    <input type="number" value="0" min="1" id="bet"  onkeypress="return isNumberKey(event)"/>
    <a id="start" class="waves-light btn">Postaw</a> <div id="result" class=""></div>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/Casino.js"></script>
<script>

    $("#bet").bind("keyup change", function () {

        if ($(this).val() > 1000) {
            $(this).val(1000);
        }

    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 47 || charCode > 57)) {

            return false;
        }
        return true;
    }
</script>
