@model Game.GUI.RouteConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.Action("_BuildingsList", "Building");
}
else
{
    <div>Niezalogowany</div>
}

