
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="office">
        <div class="firstDiv">
            <div class="col s12 m6 l6 uBuildingList">
                <h5>Lista zabudowań</h5>
                @Html.Action("_UserBuildingList", "Office")
            </div>

            <div class="col s12 m6 l6 uProductList">
                <h5>Magazyn</h5>
                @Html.Action("_UserProductList", "Office")
            </div>
        </div>

        <div class="secondDiv">
            <div class="col s12 m6 l6 uDealList">
                <div id="dealBox">
                    @Html.Action("_UserDealList", "Office")
                </div>
            </div>

            <div class="col s12 m6 l6 uProductRequirementList">
                <div id="requirementBox">
                    @Html.Action("_UserProductRequirementList", "Office")
                </div>
            </div>
        </div>
    </div>

</div>

