@model List<Game.Core.DTO.BuildingDto>
@{
    Layout = null;
}

<div id="buildingList">

    @foreach (var item in Model)
    {
        <p class="dropdown-button btn" data-activates='building'>@item.Alias</p>

        <ul id='building' class='dropdown-content'>
            <li><div class="dropdown-button btn" onclick="buduj(@item.ID, @item.Width, @item.Height)">Buduj</div></li>
        </ul>
    }
</div>