@model List<Game.Core.DTO.BuildingDto>
@{
    Layout = null;
}

<div id="buildingList">

    @foreach (var item in Model)
    {
        <p class="btn" onclick="buduj(@item.ID, @item.Width, @item.Height)">@item.Alias</p>
    }
</div>