@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col l12" style="position: relative; font-size: 500px; font-weight: 700;color: #3B5065;text-align: center !Important;
     margin: 0 auto;">
    505
    <div style="font-size: 30px; color: #D0DDEA; position: absolute; top: 354px; transform: translateX(-50%); left: 50%;">
        Serwer napotkał niespodziewane trudności, które uniemożliwiły zrealizowanie żądania
    </div>
</div>