@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="adminAdd" class="modal bottom-sheet">
    <div class="modal-content">
        <section class="uk-panel uk-panel-box uk-form-horizontal">
            @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m=>m.tableView.User_ID, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" class="uk-button-large" value="Submit" />
            }
        </section>
    </div>
</div>


<div id="tableList">
    <button data-target="adminAdd" class="btn modal-trigger" href="#adminAdd">Dodaj nowy</button>
    <table class="responsive-table bordered">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="user_id">ID użytkownika</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>

                    <td>@item.ID</td>
                    <td>@item.User_ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
