@model Game.GUI.ViewModels.ListTableViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Od: @Model.tableView.Sender_Login
    Data: @Model.tableView.PostDate</p>

<p>@Model.tableView.Content</p>

