@model Game.GUI.ViewModels.ListTableViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Message">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#Nowa">Nowa wiadomość</a></li>
            <li class="tab col s3"><a class="active" href="#Odebrane">Odebrane</a></li>
            <li class="tab col s3"><a href="#Wyslane">Wysłane</a></li>
        </ul>
    </div>
    <div id="Nowa" class="col s12">@Html.Action("_NewMessage", "Message")</div>
    <div id="Odebrane" class="col s12">@Html.Action("_ReceivedMessage", "Message")</div>
    <div id="Wyslane" class="col s12">@Html.Action("_SentMessage", "Message")</div>

</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('ul.tabs').tabs();
    });

</script>