@model Game.GUI.ViewModels.Message.MessageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="messageTutorial">
    @if (!Model.viewModel.messageDiv && Model.viewModel.allDiv)
            {
        <div class="tutorial">
            <span href="#" class="closeDiv" data-divname="messageDiv"><i class="fa fa-times"></i></span><br />
            Wiadomości to nic innego jak prosty system komunikacji z graczami.<br />
            Znajdują się tutaj trzy zakładki. "Nowa wiadomość" umożliwia pisanie nowych wiadomoości do innego gracza.
            "Odebrane" to skrzynka odbiorcza. Kliknięcie w "Tytuł" wiadomości powoduje jej otwarcie.
            "Wysłane" to po prostu skrzynka wiadomości wysłanych.
        </div>
    }
</div>


<div class="Message">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#Nowa">Nowa wiadomość</a></li>
            <li class="tab col s3 sent"><a class="active" href="#Odebrane">Odebrane</a></li>
            <li class="tab col s3 received"><a href="#Wyslane">Wysłane</a></li>
        </ul>
    </div>
    <div id="Nowa" class="col s12">@Html.Action("_NewMessage", "Message")</div>
    <div id="Odebrane" class="col s12">@Html.Action("_ReceivedMessage", "Message")</div>
    <div id="Wyslane" class="col s12">@Html.Action("_SentMessage", "Message")</div>

</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });

    $('.tab').click(function () {
        $('#Wyslane').load("/Message/_SentMessage");
        $('#Odebrane').load("/Message/_ReceivedMessage");

    });

</script>