.map {
    background-color: #61b600;
    position: relative;
    .building {
        background: #808080;
        color: white;
        display: block;
        position: absolute;
    }
}

.fake-building {
    display: none;
    position:absolute;
    background: white;
    z-index: 1;
}

.btn-build {
    display: block;
    &:hover {
        cursor: pointer;
        background-color: #78AB91;
    }
}

.buduj {
    cursor: url(http://curling.pl/assets/hammer-c6f60aa86a5adea0cf4ec2f38c64d79a.png), pointer;
}